/* Your banner CSS code here */
/* Your banner CSS file */
.banner-new {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), asset-url('beach.jpeg');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-position: center;
}

.banner-content-new {
  color: white;
  text-align: left;
  // padding: 80px 120px;
  // border: 2px solid #F4F4F4;
  a {
    color: white;
  }

  .btn {
    // background-color: grey;
    width: 100%;
  }
}

.banner-content-new h1{
  font-size: 50px;
  font-weight: bold;
}

.banner-content-new p {
  font-size: 27px;
  color: rgb(200,200,200);
  margin-bottom: 40px;
}

