/* Your card CSS code here */
.list-inline {
  padding: 0px;
  list-style: none;
  margin: 0px;
}
.list-inline li {
  display: inline-block;
  padding: 0px 10px;
  color: #1E56A0;
}
.list-inline li i {
  font-size: 20px;
  color: #1E56A0;
}
.list-inline li p {
  color: #1E56A0;
}
.fa {
  display: inline-block;
}
.card-order {
  box-shadow: 2px 2px 2px 2px grey;
  margin: 15px;
  > a {
    color: white;
  }
}
.card-body-order {
  color: white;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 275px;
}
.card-category-order {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0px;
}
.card-avatar-order{
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-desc-order{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-desc-order p {
  margin: 0px;
  padding: 0px;
}
.card-desc-order h3 {
  margin: 0px;
  padding-bottom: 10px;
  color: white;
}
.card-footer-order {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #e8eef5;
  padding: 10px;
  margin: 0px;
  height: 70px;
  color: rgb(100,100,100);
}
.card-order:hover {
  /*box-shadow: 2px 2px 2px 2px black;*/
  box-shadow: 0.5em 0.5em .4em grey;
  /*margin-top: -5px;*/
}

/*.cards {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}*/
/*.card-picture:hover .card-hover {
  opacity: 1;
}*/

.wrapper-cards-order {
  background-color: #F4F4F4;
  padding: 90px;
}
.wrapper-map-order {
  margin: 30px 0px;
}

.volume {
    position: absolute;
    top: 55px;
    left: 10px;
    margin: 0px;
}

.cancel {
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
  margin: 0px;
  // background-color: transparent;
}

.pay-btn {
  position: absolute;
    right: 45px;
    margin: 0px;
}

.card-link-order {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.accept-btn{
  position: absolute;
  left: 85px;
  width: 150px;
}

.refuse-btn {
  position: absolute;
  right: 85px;
  width: 150px;
}

.card-order-nothing {
  display: flex;
  justify-content: center;
  margin: 200px 0px;
  color: white;
  a {
    color: white;
  }
}

// .card-message-order {
//   position: absolute;
// }


.card-order-index {
  // position: relative;
  // border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  // background-color: #ECFAFB;
  height:230px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-order-coconut {
  // position: relative;
  // left: 5px;
  width: 115px;
  height: 200px;
  background-size: 80%;
  flex: 0 0 20%;
}

.card-order-index-desc {
  // position: relative;
  // left: 150px;
  width: 300px;
  flex: 1 0 auto;
  margin-left: 20px;
}

.green-status {
  color: green;
}

.red-status {
  color: red;
}

.card-order-index-to-do {
  flex: 0 0 20%;
  // border: 0.2px solid #cccccc;
  text-align: center;
}

.card-order-index-status {
  // position: absolute;
  // top: 5px;
  // right: 5px;
}

.card-order-index-cancel {
  // position: absolute;
  // top: 50px;
  // right: 5px;
}

.card-order-index-pay {
  // position: absolute;
  // bottom: 10px;
  // right: 5px;
}

#btn-accepter {
  margin-bottom: 8px;
}
