/* Your tabs CSS code here */
.tabs {
  display: flex;
  align-items: center;
}

.tabs:hover{
  a {
    text-decoration: none;
  }
}

.tab.active {
  color: white;
  background-color: #bbcce2;
}

.tab {
  flex: 0 0 33%;
  background-color: #F4F4F4;
  color: #0c2240;
}

.tab:hover {
  background-color: #e8eef5;
}

.tab.active:hover {
  background-color: #bbcce2;
}

.tab:nth-child(1) {
  border-radius: 5px 0 0 0; /* clockwise starting top-left*/
}

.tab:nth-child(2) {
  // no border radius
}

.tab:nth-child(3) {
  border-radius: 0 5px 0 0; /* clockwise starting top-left*/
}
